@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #23272a;
}

.hero {
  background-image: url('./img/Header\ Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 459px;
}

.container-header {
  display: grid;
  justify-items: center;
  gap: 25px;
  max-width: 800px;
  text-align: center;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}




.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400px;
  color: #fff;
}

.hero p {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}


.download {
  background-color: white;
  color: #5865f2;
  width: 200px;
  height: 44px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

.browser {
  background-color: #23272a;
  color: white;
  width: 280px;
  height: 44px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

main {
  max-width: 970px;
  margin: 0 auto;
}

.feature {
  background: #f6f6f6;
}

.feature .container.vertical {
  flex-direction: column;
}

.feature .container.reverse {
  flex-direction: row-reverse;
}

.feature .text h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  font-family: "Luckiest Guy", cursive;
}

.feature .text p {
  font-size: 1rem;
  text-align: center;
}

.feature img {
  width: 400px;
  height: auto;
}

.feature h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

footer {
  background: #23272a;
  text-align: center;
  width: 100%;
  height: 134px;
  padding: 40px;
}

footer img {
  align-content: center;
}

